@media (max-width: 1335px) {
    .card13,
    .card14,
    .card15,
    .card16 {
        display: none;
    }
}

@media (max-width: 1330px) {

    .thirdSection {
        /* padding-inline: 32px; */
        padding-left: 32px;
        padding-right: 0;
    }


    .thirdSectionContainer {
        overflow-x: scroll;
    }


    .thirdSectionCard {
        flex: 1 0 298px;
    }

}

@media (max-width: 1135px) {
  
    .catalogSecondSection {
        padding-inline: 45px;
    }
}

@media (max-width: 1025px) {

    .headerNav {
        position: fixed;
        left: -100%;
        top: 96px;
        padding: 16px 56px 16px 16px;
        background: #05BCCA;
    }
    .headerList {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 8px;
    }


    .headerListItem {
        color: #C46A2B;
    }


    .show {
        left: 0;
    }


    .menuIcon {
        display: block;
    }

    footer {
        padding-inline: 96px;
    }
}

@media (max-width: 1020px) {
    .card9,
    .card10,
    .card11,
    .card12 {
        display: none;
    }
}

@media (max-width: 930px) {
    .secondSectionContainer {
        width: 680px;
    }
}
